@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 300;
    src: url(@/assets/font/iranyekanweblight.woff) format("woff");
    font-display: swap
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 500;
    src: url(@/assets/font/iranyekanwebmedium.woff) format("woff");
    font-display: swap
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 400;
    src: url(@/assets/font/iranyekanwebregular.woff) format("woff");
    font-display: swap
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 700;
    src: url(/assets/font/iranyekanwebbold.woff) format("woff");
    font-display: swap
}